body {
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  margin: 0;
  background: #1F2937;
  height: 600px;
}

.head_container {
  display: flex;
  background: none;
}

.head_container .header_logo {
  font-size: 14px;
  color: #F9FAF8;
  margin: 0 0 0 3in;
  flex: 1 1 0%;
  background: none;
}

.head_container .navbar {
  margin: 0 3in 0 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 440px;
  background: none;
  flex: 1 1 0%;
}

.head_text_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  font-size: 18px;
  margin: 80px 1in 0 0;
  flex: 1 1 0%;
}

.head_text_container .header_text {
  color: white;
  font-size: 28px;
  margin: 4rem 0 0 0;
}

.head_text_container p {
  color: #E5E7EB;
  margin: 0 0 10px 0;
}

.new_box {
  margin: 0 0 0 3in;
  display: flex;
  flex-direction: column;
  background: none;
  box-sizing: content-box;
}

.head_text_container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3882F6;
  width: 10rem;
  height: 2.6rem;
  color: white;
  border-color: transparent;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.head_text_container .box {
  margin: 3rem 17.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: gray;
  width: 600px;
  height: 260px;
}

.some_info_text {
  text-align: center;
  color: #1F2937;
  margin: 44px 0 0 0;
}

.photo_reel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
  width: auto;
  height: 200px;
}

.photo_one {
  z-index: 0;
  margin: 0px 20px 0 20px;
  border-radius: 10px;
  height: 10rem;
  border: solid #3882f6;
  width: 10.5rem;
  background-image: url(https://images.unsplash.com/photo-1662947077803-b92386fafd92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-size: 120%;
  background-position: 50% 60%;
  background-repeat: no-repeat;
}

.photo_two {
  z-index: 0;
  margin: 0px 20px 0 20px;
  border-radius: 10px;
  height: 10rem;
  border: solid #3882f6;
  width: 10.5rem;
  background-image: url(https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80);
  background-size: 100%;
  background-position: 50% 20%;
  background-repeat: no-repeat;
}

.photo_three {
  z-index: 0;
  margin: 0px 20px 0 20px;
  border-radius: 10px;
  height: 10rem;
  border: solid #3882f6;
  width: 10.5rem;
  background-image: url(https://images.unsplash.com/photo-1663051957237-8da7729a1c15?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: 200%;
  background-position: 40% 20%;
  background-repeat: no-repeat;
}

.photo_four {
  z-index: 0;
  margin: 0px 20px 0 20px;
  border-radius: 10px;
  height: 10rem;
  border: solid #3882f6;
  width: 10.5rem;
  background-image: url(https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-size: 180%;
  background-position: 54% 52%;
  background-repeat: no-repeat;
}

.image_descript {
  display: flex;
  justify-content: center;
  text-align: center;
}

.descript_one {
  position: relative;
  top: -10px;
  margin: 0px 18px 0 18px;
  border-radius: 10px;
  height: 105px;
  border: none;
  font-size: 1rem;
  color: gray;
  width: 180px;
}

.descript_two {
  position: relative;
  top: -10px;
  margin: 0px 18px 0 18px;
  border-radius: 10px;
  height: 105px;
  border: none;
  font-size: 1rem;
  color: gray;
  width: 180px;
}

.descript_three {
  position: relative;
  top: -10px;
  margin: 0px 18px 0 18px;
  border-radius: 10px;
  height: 105px;
  border: none;
  font-size: 1rem;
  color: gray;
  width: 180px;
}

.descript_four {
  position: relative;
  top: -10px;
  margin: 0px 18px 0 18px;
  border-radius: 10px;
  height: 105px;
  border: none;
  font-size: 1rem;
  color: gray;
  width: 180px;
}

.quote_background {
  background: #E5E7EB;
  height: 400px;
}

.h1_container {
  position: relative;
  top: 50px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.h1_container h1 {
  font-style: italic;
  font-weight: 80;
}

.para_cont {
  float: right;
  margin: 0 4in 0 0;
  font-size: 28px;
  color: black;
  font-weight: bold;
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  height: 400px;
}

.dialogue_box {
  background: #3882f6;
  width: 80rem;
  height: 180px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
}

.foot_text {
  font-size: 22px;
  margin: 54px 0 20px 70px;
  padding: .5rem 0 0 4rem;
  color: #E5E7EB;
}

.foot_text h1 {
  font-size: 24px;
}

.dialogue_box button {
  float: right;
  background: #3882f6;
  font-size: 20px;
  padding: .6rem 2.6rem .6rem 2.6rem;
  color: white;
  font-weight: bold;
  border: solid 2px white;
  border-radius: 8px;
  margin: -46px 140px 0px 0;
}

.footer_text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E5E7EB;
  background: #1F2937;
  height: 120px;
  width: auto;
  font-size: 1.4rem;
}/*# sourceMappingURL=index.css.map */